---
layout: main
active: blog

leadIn: We've documented every bit of our design process!
heading: Our Knowledge
reference: posts
buttonText: read posts
---
<section id="posts">
    <div class="container">

    {% for post in site.posts %}
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
                <h2 class="section-heading"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                <h3 class="section-subheading text-muted">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</h3>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ post.content | strip_html | truncatewords:100}}<br>
                    <a href="{{ post.url }}">Read more...</a><br><br>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</section>